login:
    path: /login
    defaults: { _controller: AppBundle:User:login }

login_check:
    path: /login_check
    
logout:
    path: /logout

register:
    path: /register
    defaults: { _controller: AppBundle:User:register }
    
user_nick_test:
    path: /nick-test
    defaults: { _controller: AppBundle:User:nickTest }
    methods: [POST]
    
user_edit:
    path: /my-data
    defaults: { _controller: AppBundle:User:editUser }
    
