/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ago-2018, 13:33:24
    Author     : josel
*/

/*  GENERALES */
body{
    background: #eee;
}

/* HEADER */

.navbar-collapse .avatar{
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

/* REGISTRO */

.box-form{
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    margin: 0px auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}



